<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col">
            <img src="assets/man_on_a_boat.jpg" alt="man on a boat">
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col">
            <img src="assets/man_on_tracks.jpg" alt="man on tracks">
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col">
            <img src="assets/jars_on_a_table.jpg" alt="jars on a table">
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col">
            <img src="assets/two_men_and_baby.jpg" alt="two men and a baby">
        </div>
        <div class="col-md-1"></div>
    </div>
</div>