<div class="carousel-container">
    <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators"
        [pauseOnHover]="pauseOnHover">
        <div *ngIf="!isMobile">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="picsum-img-wrapper">
                    <img [src]="image[0]" [alt]="image[1]">
                </div>
            </ng-template>
        </div>
        <div *ngIf="isMobile">
            <ng-template ngbSlide *ngFor="let image of mobileImages">
                <div *ngIf="isMobile" class="picsum-img-wrapper">
                    <img [src]="image[0]" [alt]="image[1]">
                </div>
            </ng-template>
        </div>
    </ngb-carousel>
</div>