<div class="container">
    <div class="row">
        <div class="col-1 col-md-3"></div>
        <div class="col-10 col-md-6">
            <h1 class="text-center">Let's Talk</h1>
            <form [formGroup]="contactForm" (ngSubmit)="sendMessage()" class="content">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input formControlName="name" class="form-control" type="text" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input formControlName="email" class="form-control" type="email" id="email">
                </div>
                <div class=" form-group">
                    <label for="message">Your message</label>
                    <textarea formControlName="message" class="form-control" id="message" rows="5"></textarea>
                </div>
                <div class="text-center">
                    <button [disabled]="!contactForm.valid" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-1 col-md-3"></div>
    </div>
</div>