.navbar {
  border-bottom: 2px solid #ebebeb;
  .navbar-toggler {
    border-color: transparent;
  }
  img {
    width: 90px;
  }
  .nav-link,
  .nav-link:hover {
    color: #000000 !important;
  }
  @media (min-width: 576px) {
    .active {
      border-bottom: 2px solid #ff5700;
    }
  }
}
