.navbar {
  border-bottom: 2px solid #ebebeb;
  .navbar-toggler {
    border-color: transparent;
  }
  img {
    width: 90px;
  }
  .active {
    border-bottom: 2px solid #ff5700;
  }
  .nav-link,
  .nav-link:hover {
    color: #000000 !important;
  }
}
